/* Contact.css */

.glass-input {
    width: 100%;
    padding: 0.9rem 1.2rem;
    background: rgba(255, 255, 255, 0.06);
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
  }
  
  .glass-input::placeholder {
    color: #cccccc;
    opacity: 0.8;
  }
  
  .glass-input:focus {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .glass-button-1:hover {
    background: rgba(0, 47, 7, 0.709) !important;
  }
  
.glass-button-1 {
    background-color: #286f2a !important;
    border: none;
    border-radius: 12px;
    color: #ffffff !important;
    font-size: 1rem;
    padding: 0.9rem 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }