@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    /* ---------------- Core Colors ---------------- */
    --white: #ffffff;
    --black: #000000;
    --red: #ff4c4c;
    --green: #4CE6A6;
    --blue: #065cc2;
    --yellow: #ffc107;
    --orange: #ff9800;
    --purple: #800080;
    --pink: #ff69b4;
    --teal: #008080;
    --cyan: #00bcd4;

    --background-color: var(--white);
    --surface-color: var(--white);
    --contrast-color: var(--white);
    --default-color: #314862;
    --heading-color: #13447f;
    --accent-color: #065cc2;

    --heading-font: "math";

    /* ---------------- Button Colors ---------------- */

    --btn-bg: var(--accent-color);
    --btn-text: var(--black);
    --btn-hover-bg: var(--accent-color);
    --btn-hover-text: var(--background-color);

    /* ---------------- Typography ---------------- */
    --imp-text-color: var(--accent-color);
    --imp-bold-text-color: var(--accent-color);
    --subheading-color: #b0b0b0;

    /* ---------------- Borders ---------------- */
    --border-color: rgba(0, 0, 0, 0.1);
    --highlight-border: var(--accent-color);

    /* ---------------- Shadows ---------------- */
    --shadow-default: 0 4px 6px rgba(0, 0, 0, 0.15);
    --shadow-hover: 0 6px 10px rgba(0, 0, 0, 0.25);
    --blur-effect: blur(12px);

    /* ---------------- Gradients ---------------- */
    --section-background-gradient: linear-gradient(to bottom left, #050828, #010427);
    --image-overlay-gradient: linear-gradient(to bottom left, rgba(5, 8, 40, 0.85), rgba(1, 4, 39, 0.9));

    /* ---------------- Spacing ---------------- */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;

    /* ---------------- Font Sizes ---------------- */
    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-xxl: 2rem;

    /* ---------------- Z-Index Levels ---------------- */
    --z-nav: 1000;
    --z-dropdown: 1050;
    --z-overlay: 1100;
    --z-modal: 1200;
    --z-tooltip: 1300;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

p {
    font-size: 1rem;
    font-weight: 400;
    font-family: math;
    line-height: 1.3;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
}

.btn-primary {
    background-color: var(--accent-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: var(--heading-color) !important; */
    font-weight: 600 !important;
}

li strong {
    color: var(--heading-color);
    font-size: 1rem;
    font-family: sans-serif;
}

li {
    font-size: 1rem;
    font-weight: 400;
    font-family: math;
    line-height: 1.3;
    color: color-mix(in srgb, var(--default-color), transparent 25%);
}

.css-1wt4o4o-MuiListItemIcon-root,
.MuiListItemIcon-root .css-s8s1gl {
    justify-content: center;
    align-items: center;
}

.yellow {
    color: var(--imp-bold-text-color) !important;
}

.purple {
    color: var(--imp-text-color) !important;
}

button:focus {
    box-shadow: none !important;
}

.textWidth {
    width: '40vh' !important
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url(./assets/pre.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#preloader-none {
    opacity: 0;
}

#no-scroll {
    overflow: hidden;
    height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--accent-color);
}

/* Handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
    /* background-color: #38007731 !important; */
    transition: all 0.3s ease-out 0s !important;
    box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
    backdrop-filter: blur(15px) !important;
}

.pro_data {
    margin-top: 10px;
}

.test {
    position: absolute;
    z-index: -1;
    width: 40%;
}

.downBtn {
    color: var(--accent-color);
    border: 1px solid #024429;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 15px 25px;
    border-radius: 50px;
    margin-top: 28px;
    cursor: pointer;
    z-index: 20000000000;
}

/* .achieve{
  padding-left: 20%;
} */

.social_icons {
    display: flex;
    gap: 30px;
    margin-top: 28px;
}


/* --------- */
/* Home section */
/* --------- */
.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

#tsparticles {
    position: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.connect {
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;
    color: gainsboro;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    font-weight: 600;
    cursor: pointer;
}

.arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background: none;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;


}

.arrows i {
    font-size: 1em;
    font-weight: 100;
    opacity: 0.1;
    margin-top: 100px;
    color: var(--accent-color);
    display: none;
}

.connect:hover .arrows i {
    opacity: 1;
    display: block;
    animation: move-arrow 5s linear infinite;
}

@keyframes move-arrow {
    0% {
        transform: translate(-50%, -50%) translateX(0);
    }

    25% {
        transform: translate(-50%, -50%) translateX(50%);
    }

    50% {
        transform: translate(-50%, -50%) translateX(100%);
    }

    75% {
        transform: translate(-50%, -50%) translateX(50%);
    }

    100% {
        transform: translate(-50%, -50%) translateX(0%);
    }
}

.heading-name {
    font-size: 2.5em !important;
    padding-left: 45px !important;
}

.main-name {
    color: var(--accent-color);
}

.Typewriter__wrapper {
    color: var(--white) !important;
}

.Typewriter__cursor {
    /* font-size: 1.4em !important; */
    color: var(--accent-color) !important;
}

@media (max-width: 767px) {
    .myAvtar {
        padding-top: 2em !important;
        padding-bottom: 2em !important;
    }
}

.myAvtar {
    justify-content: center !important;
    padding-top: 2em !important;
}


.home-about-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 0px !important;
    background-color: black;
    /* : black; */
    /* background-image: var(--image-gradient), url('./assets/home-bg.jpg'); */
}

.home-about-description {
    color: white !important;
    padding-top: 2em !important;
    padding-bottom: 20px !important;
    text-align: left;
}

.home-about-body {
    padding-top: 10px;
    font-size: 1.2em !important;
    text-align: left;
}

.home-about-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.home-about-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}

.home-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(110, 110, 110, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.home-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #e9fa00;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.home-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #fdf902;
}

.home-social-icons:hover {
    color: #e5ff00;
    box-shadow: 0 0 5px #fdf901;
    text-shadow: 0 0 2px #fcf802;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-colour {
    color: #e6ff01 !important;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
    background-color: rgb(1, 6, 36);
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
}

.footer-copywright {
    display: flex;
    text-align: center !important;
    align-items: center;
    justify-content: center;
}

.footer-copywright span {
    color: white;
    font-size: 1.2rem;
}

.footer-body {
    z-index: 1;
    text-align: center !important;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center !important;
    }

    .footer-body {
        text-align: center !important;
    }
}

.footer h3 {
    font-size: 1em;
    color: white !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.footer-icons {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    padding: 0 !important;
}

.blockquote-footer {
    color: #a588c0 !important;
}

/* --------- */
/* About */
/* --------- */

.about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-color: black;
    background-image: var(--section-background-color) !important;
    color: white !important;
}

.tech-icons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5px !important;
    width: fit-content !important;
    height: 80px !important;
    line-height: -10px !important;
    min-width: 110px !important;
    text-align: center !important;
    transition: all 0.4s ease 0s !important;
    backdrop-filter: blur(10px) !important;
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.icon-data {
    font-size: 1.8rem !important;
    color: var(--accent-color) !important;
}

.tech-icons:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2) !important;
    border-color: rgba(255, 255, 255, 0.4) !important;
    background: rgba(255, 255, 255, 0.2) !important;
}

@media (max-width: 767px) {
    .tech-icons {
        margin: 10px !important;
    }
}

.tech-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid var(--accent-color) !important;
    color: var(--accent-color);
}

.tech-icon-images {
    padding: 10px !important;
    line-height: 1.6 !important;
}

.quote-card-view {
    border: none !important;
    color: white !important;
    background-color: transparent !important;
}

.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}

@media (max-width: 767px) {
    .about-img {
        padding-top: 0 !important;
    }
}

.lt_txt {
    font-size: 8vw;
}

/* --------- */
/* Projects */
/* --------- */
.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-color: black;
}

.project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
}

.project-card-view {
    box-shadow: 0 4px 5px 3px var(--accent-color) !important;
    /* box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important; */
    color: rgb(1, 4, 39) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    max-height: 100% !important;
}

.project-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 4px 5px 3px var(--accent-color) !important;
}

.blog-card {
    height: auto !important;
}

.blog-card-view {
    background-color: transparent !important;
    box-shadow: 0 3px 3px 2px rgba(145, 77, 161, 0.459) !important;
    color: white !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
}

.blog-link {
    color: white !important;
    text-decoration: none !important;
}

.blog-link:hover {
    cursor: pointer !important;
}

.blog-card-view:hover {
    transform: scale(1.02) !important;
    overflow: hidden !important;
    box-shadow: 0 3px 3px 5px rgba(88, 173, 105, 0.65) !important;
}

.card-img-top {
    padding: 20px !important;
    opacity: 0.8 !important;
    border-radius: 10px !important;
}

.blog-img {
    padding: 0px !important;
    opacity: 0.8 !important;
    border-radius: 0px !important;
}

.project-heading {
    color: white !important;
    font-size: 2.3em !important;
    font-weight: 500 !important;
    padding-top: 10px !important;
}